/* Базовые стили (для тёмной темы) */
body.dark-theme {
    background: radial-gradient(89.31% 89.31% at 50% 10.69%, #150F0D 7%, #8D321E 38.5%, #1C1C1C 77%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    width: 60%;
    max-width: 1200px;
}

header h1 {
    font-family: RockStar;
	font-size: 59px;
	font-weight: 800;
	margin-top: -300px;
}

/* Общие стили для звезд */
.star-icon {
    width: 30px;                    /* Ширина звезды */
    height: 30px;                   /* Высота звезды */
    display: inline-block;          /* Отображаем как inline-блок */
    background-size: contain;       /* Подгоняем размер под элемент */
    background-repeat: no-repeat;   /* Отключаем повтор */
    vertical-align: middle;         /* Выравниваем по центру текста */
    margin: 0 5px;                  /* Отступ для пространства */
}

/* Темная тема */
.dark-theme .star-icon {
    background-image: url("C:\Users\Aleksandr\PycharmProjects\CodeLens\frontend\images\star_light.svg");
}

/* Светлая тема */
.light-theme .star-icon {
    background-image: url("C:\Users\Aleksandr\PycharmProjects\CodeLens\frontend\images\star_light.svg");
}

body.dark-theme .light-star {
    display: none;
}

body.light-theme .dark-star {
    display: none;
}

.upload-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.upload-box {
    margin-left: -50px;
    width: 50%;
    height: 300px;
    border: 1px solid rgba(255, 255, 255, 1);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; /* Убедитесь, что текст выравнен вверху */
    background: rgba(0, 0, 0, 0.32);
    font-size: 1.2rem;
    color: rgba(174, 174, 174, 1);
    padding: 15px;
    box-sizing: border-box;
    cursor: pointer; 
}

.upload-box:hover {
    background: rgba(0, 0, 0, 0.5); /* Темнее фон при наведении */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Добавляем тень */
}

.upload-box label {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 500;
    line-height: 36.57px;
    text-align: left;
    cursor: pointer; /* Курсор указателя на тексте */
    color: rgba(174, 174, 174, 1);
}


input[type="file"] {
    display: none;
}

.result-box {
    margin-right: -50px;
    width: 50%;
    height: 300px;
    border: 1px solid rgba(255, 255, 255, 1);
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start; /* Убедитесь, что текст выравнен вверху */
    background: rgba(0, 0, 0, 0.32);
    padding: 15px;
    box-sizing: border-box;
    color: rgba(174, 174, 174, 1);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 500;
    line-height: 36.57px;
    text-align: left;
}

.result-box:hover {
    background: rgba(0, 0, 0, 0.5); /* Темнее фон при наведении */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Добавляем тень */
}

.convert-button {
    width: 100%;
    padding: 15px;
	background: rgba(0, 0, 0, 0.32);
    border: 1px solid rgba(255, 255, 255, 1);
    cursor: pointer;
	
	/* Стили по дизайну */
    font-family: Montserrat;
	font-size: 30px;
	font-weight: 500;
	line-height: 36.57px;
	text-align: center;
	color: rgba(174, 174, 174, 1);
    position: relative;
    top: 200px;
}

}

.convert-button:hover {
    background-color: #555;
}

/* Светлая тема */
body.light-theme {
    background: rgba(255, 255, 255, 1);
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

body.light-theme .upload-box, 
body.light-theme .result-box {
    background: rgba(146, 146, 146, 0.32);
    border: 1px solid rgba(74, 74, 74, 1)
}

body.light-theme .custom-file-upload {
    background: rgba(146, 146, 146, 0.32);
    color: #000;
    border: 2px dashed #999;
}

body.light-theme .custom-file-upload:hover {
    background-color: #ccc;
    border-color: #666;
}

body.light-theme .convert-button {
    background: rgba(146, 146, 146, 0.32);
    border: 1px solid #ccc;
}

body.light-theme .convert-button:hover {
    background-color: #bbb;
}
