{% extends 'dev/base.html' %}

{% block main %}
    <h1>Upload an image with python code snippet:</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Convert to code</button>
    </form>
    {% if result_text is not None and result_text != "" %}
        <h2>Result:</h2>
        <h3>Language detected: {{ lang }}</h3>
        <!-- Linebreaksbr converts raw python string to html readable format-->
        <!-- safe filter makes possible passing raw html in context to display-->
        <code> {{ result_text | safe }}</code>
    {% else %}
        <h2>Nothing to see yet</h2>
    {% endif %}
{% endblock %}
